<md-content layout="column">
    <md-content layout="row">
        <md-list flex>
            <md-list-item class="md-3-line" ng-repeat="music in musics"
                          ng-click="changeMusic($event, music.number)">
                <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}"/>
                <div class="md-list-item-text" layout="column">
                    <h3>{{music.title}}</h3>
                    <h4>{{music.artists.join(', ')}}</h4>
                </div>
            </md-list-item>
        </md-list>
        <!--&lt;!&ndash;Musique&ndash;&gt;-->
        <!--<div class='md-padding' layout="row" layout-wrap>-->
        <!--<md-card ng-repeat="music in musics" style="width: 250px;" class="music"-->
        <!--ng-click="changeMusic($event, music.number)">-->

        <!--&lt;!&ndash;Haut de la card&ndash;&gt;-->
        <!--<md-card-title>-->

        <!--&lt;!&ndash;Nom et artistes&ndash;&gt;-->
        <!--<md-card-title-text>-->
        <!--<span class="md-headline">{{music.title}}</span>-->
        <!--<span class="md-subhead">{{music.artists.join(', ')}}</span>-->
        <!--</md-card-title-text>-->

        <!--&lt;!&ndash;Pochette&ndash;&gt;-->
        <!--<md-card-title-media layout-align="center center">-->
        <!--<div class="md-media-lg card-media"><img src="assets/img/pochettes/tristam.jpg"></div>-->
        <!--</md-card-title-media>-->

        <!--</md-card-title>-->

        <!--&lt;!&ndash;Bas de la card&ndash;&gt;-->
        <!--<md-card-actions layout="row" layout-align="none center">-->

        <!--{{music.duration}}-->
        <!--<span flex></span>-->
        <!--<md-button class="md-raised md-primary"-->
        <!--ng-click="showAlert($event, music.title, music.artists.join(', '))">Détails-->
        <!--</md-button>-->

        <!--</md-card-actions>-->


        <!--</md-card>-->
        <!--</div>-->

    </md-content>
</md-content>














